.idea
node_modules
.DS_Store
dist

# Nunjucks pages that are built automatically through Gulp
src/pages/categories/*
!src/pages/categories/index.njk

src/pages/tags/*
!src/pages/tags/index.njk

src/pages/posts

src/**/*.html
src/assets/css
