<nav class="l-navigation js-navigation">
    <div class="l-navigation__links">
        <a class="l-navigation__link l-navigation__link--home" href="/">Blog</a>

        <ul class="l-navigation__list">
            <li class="l-navigation__item">
                <a class="l-navigation__link" href="/categories.html">Categories</a>
            </li>
        </ul>
    </div>

    <div class="l-navigation__search">
        <input class="l-navigation__search-input js-navigation-search-input" 
               type="search" 
               value="" 
               placeholder="Search..."
        />
    </div>
    

    <div class="l-navigation__search-overlay js-navigation-search-overlay">
        <span class="l-navigation__search-close js-navigation-search-close-btn" role="button"></span>
        <h3>Search</h3>
        <p>Search my blog by using the search box above.</p>

        <p class="js-navigation-search-no-results" style="display: none;">No results found.</p>

        <div class="l-navigation__search-results js-navigation-search-results"></div>

        <a class="c-button js-navigation-full-search-button" href="/search">Full search</a>
    </div>
</nav>

<div class="l-navigation-backdrop js-navigation-search-backdrop"></div>