<nav class="l-sticky-nav">
    <ul class="l-sticky-nav__list">
        <li class="l-sticky-nav__item">
            <a class="l-sticky-nav__link" href="/categories/html.html"><i class="fab fa-html5"></i> <span class="l-sticky-nav__link-text">HTML</span></a>
        </li>
        <li class="l-sticky-nav__item">
            <a class="l-sticky-nav__link" href="/categories/css.html"><i class="fab fa-css3-alt"></i> <span class="l-sticky-nav__link-text">CSS</span></a>
        </li>
        <li class="l-sticky-nav__item">
            <a class="l-sticky-nav__link" href="/categories/javascript.html"><i class="fab fa-js"></i> <span class="l-sticky-nav__link-text">JavaScript</span></a>
        </li>
    </ul>
</nav>