{% import "macros/asset-loader.njk" as assetLoader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    <title>{% block metaTitle %}Liam Snowdon | Blog{% endblock %}</title>
    <meta name="robots" content="{% block metaRobots %}index, follow{% endblock %}">
    <meta name="description" content="{% block metaDescription %}Welcome to my blog! A place for fancy, cool front end tips and tricks!{% endblock %}">
    <meta name="author" content="{% block metaAuthor %}Liam Snowdon{% endblock %}">

    <meta property="og:title" content="{% block metaOgTitle %}Liam Snowdon | Blog{% endblock %}">
    <meta property="og:description" content="{% block metaOgDescription %}Welcome to my blog! A place for fancy, cool front end tips and tricks!{% endblock %}">
    <meta property="og:type" content="{% block metaOgType %}website{% endblock %}">
    {% block metaArticle %}{% endblock %}
    <meta property="og:image" content="https://blog.liamsnowdon.co.uk{% block metaOgImage %}{% endblock %}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">
    <meta property="og:url" content="https://blog.liamsnowdon.co.uk{% block metaOgUrl %}{% endblock %}">
    <meta property="og:site_name" content="Blog">
    <meta name="twitter:card" content="summary">

    {{ assetLoader.link("/assets/css/styles.css") }}
  </head>
  <body>
    {% include "partials/navigation.njk" %}

    {% block content %} {% endblock %}

    {% include "partials/footer.njk" %}

    {{ assetLoader.script("/assets/third-party/prism/prism.js") }}

    {% block additionalJS %} {% endblock %}
  </body>
</html>