{% extends "base.njk" %}

{% block metaTitle %}{{ post.title }} | Liam Snowdon's Blog{% endblock %}
{% block metaDescription %}{{ post.intro }}{% endblock %}

{% block metaOgTitle %}{{ post.title }} | Liam Snowdon's Blog{% endblock %}
{% block metaOgDescription %}{{ post.intro }}{% endblock %}
{% block metaOgType %}article{% endblock %}

{% block metaArticle %}
  <meta property="article:published_time" content="{{ post.datePosted }}">
  <meta property="article:author" content="{{ post.author }}">
  
  {% for tagId in post.tags %}
    {% set tag = data.tags | getById(tagId) %}

    <meta property="article:tag" content="{{ tag.name }}">
  {% endfor %}
{% endblock %}

{% block metaOgImage %}{{ post.ogImageUrl }}{% endblock %}
{% block metaOgUrl %}/posts/{{ post.file }}{% endblock %}

{% import "macros/asset-loader.njk" as assetLoader %}

{% set category = data.categories | getById(post.category) %}

{% block content %}
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0" nonce="GqtN5jsR"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <div class="post-hero">
    <picture class="post-hero__background">
      <source 
        srcset="{{ assetLoader.image(post.headerImageUrl) }}"
        media="(min-width: 768px)"
      >
      <img src="{{ assetLoader.image(post.thumbnailImageUrl) }}" alt="{{ post.title }}" />
    </picture>
    <div class="l-content p-relative">
      <div class="post-hero__content load-hidden js-hero-text">
        <div class="post-hero__left">
          <h1>{{ post.title }}</h1>
          <p>{{ post.intro }}</p>
        </div>
        
        <div class="post-hero__right">
          <h5><strong>Posted:</strong> {{ post.datePosted|longDate }}</h5>
            
          <h5><strong>Category:</strong> <a href="/categories/{{ category.file }}">{{ category.name }}</a></h5>
          
          {% if post.tags.length %}
            <h5>
              <strong>Tags:</strong>
              {% for tagId in post.tags %}
                {% set tag = data.tags | getById(tagId) %}
                
                <a href="/tags/{{ tag.file }}">{{ tag.name | lower }}</a>
              {% endfor %}
            </h5>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  <main>
    {% include "partials/sticky-navigation.njk" %}

    <div id="post" class="l-wrapper">
      <div class="l-content">
        <nav class="c-breadcrumbs">
          <ul class="c-breadcrumbs__links">
            <li class="c-breadcrumbs__link">
              <a href="/">Home</a>
            </li>

            <li class="c-breadcrumbs__link">
              <a href="/categories">Categories</a>
            </li>

            <li class="c-breadcrumbs__link">
              <a href="/categories/{{ category.file }}">{{ category.name }}</a>
            </li>

            <li class="c-breadcrumbs__link c-breadcrumbs__link--active-page">
              {{ post.title }}
            </li>
          </ul>
        </nav>
          
        <div class="post">
          <article class="post__article">
            <div>{{ post.content | safe }}</div>
          </article>

          <aside class="post__sidebar">
            <div class="sidebar-pod">
              <div class="sidebar-pod__header">
                  <h4>Related posts</h4>
              </div>

              <div class="sidebar-pod__content">
                {% set relatedPosts = data.posts | relatedPosts(post) %}

                {% for relatedPost in relatedPosts %}
                  <a class="sidebar-pod__row" href="/posts/{{ relatedPost.file }}" title="{{ relatedPost.title }}">
                    <span class="sidebar-pod__title">{{ relatedPost.title }}</span>
                    <span class="sidebar-pod__date">{{ relatedPost.datePosted|shortDate }}</span>
                  </a>
                {% endfor %}

                {% if relatedPosts.length === 0 %}
                  <div class="sidebar-pod__row is-empty">
                      Could not find any related posts.
                  </div>
                {% endif %}
              </div>
            </div>

            <div class="sidebar-pod">
              <div class="sidebar-pod__header">
                <h4>Most recent in {{ category.name }}</h4>
              </div>
              <div class="sidebar-pod__content">
                {% for recentPost in data.posts | sort(true, true, 'datePosted') %}
                  {% set recentPostCategory = data.categories | getById(recentPost.category) %}
                  
                  {% if recentPostCategory.name === category.name %}
                    <a class="sidebar-pod__row" href="/posts/{{ recentPost.file }}" title="{{ recentPost.title }}">
                      <span class="sidebar-pod__title">{{ recentPost.title }}</span>
                      <span class="sidebar-pod__date">{{ recentPost.datePosted|shortDate }}</span>
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            <div class="post__share-buttons">
              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a>

              <div class="fb-share-button" data-href="https://blog.liamsnowdon.uk/posts/{{ post.file }}" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block additionalJS %}
  <script src="https://cdn.jsdelivr.net/gh/ireade/caniuse-embed/public/caniuse-embed.min.js"></script>
{% endblock %}