{% extends "base.njk" %}

{% block metaTitle %}{{ post.title }} | Liam Snowdon's Blog{% endblock %}
{% block metaDescription %}{{ post.intro }}{% endblock %}

{% block metaOgTitle %}{{ post.title }} | Liam Snowdon's Blog{% endblock %}
{% block metaOgDescription %}{{ post.intro }}{% endblock %}
{% block metaOgType %}article{% endblock %}

{% block metaArticle %}
  <meta property="article:published_time" content="{{ post.datePosted }}">
  <meta property="article:author" content="{{ post.author }}">
  
  {% for tagId in post.tags %}
    {% set tag = data.tags | getById(tagId) %}

    <meta property="article:tag" content="{{ tag.name }}">
  {% endfor %}
{% endblock %}

{% block metaOgImage %}{{ post.ogImageUrl }}{% endblock %}
{% block metaOgUrl %}/posts/{{ post.file }}{% endblock %}

{% import "macros/post-page.njk" as postPage %}

{% block content %}
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0" nonce="GqtN5jsR"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  {{ postPage.header(post) }}
  
  <main>
    {% include "partials/sticky-navigation.njk" %}

    {{ postPage.content(post) }}
  </main>
{% endblock %}

{% block additionalJS %}
  <script src="https://cdn.jsdelivr.net/gh/ireade/caniuse-embed/public/caniuse-embed.min.js"></script>
{% endblock %}