<a class="c-scroll-to-top js-scroll-to-top-button" href="#top"></a>

<footer class="l-footer">
    <div class="l-footer__main">
        <nav class="l-footer__links">
            <a href="/categories.html" class="l-footer__link">
                Categories
            </a>
            <a href="/tags.html" class="l-footer__link">
                Tags
            </a>
        </nav>
        <div class="l-footer__social">
            <h6>Liam Snowdon's Blog</h6>
            <div class="l-footer__social-links">
                <a href="https://www.linkedin.com/in/liam-snowdon/" target="_blank" class="l-footer__social-link">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/liamsnowdon" target="_blank" class="l-footer__social-link">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</footer>