<nav class="l-navigation js-navigation">
    <div class="l-navigation__links">
        <a class="l-navigation__link l-navigation__link--home" href="/">Blog</a>
        
        <div class="l-navigation__lists">
            <ul class="l-navigation__list">
                <li class="l-navigation__item">
                    <a class="l-navigation__link" href="/categories">Categories</a>
                </li>

                <li class="l-navigation__item">
                    <a class="l-navigation__link" href="/tags">Tags</a>
                </li>
            </ul>

            <ul class="l-navigation__list l-navigation__list--right">
                <li class="l-navigation__item">
                    <a class="l-navigation__link" href="https://liamsnowdon.uk" target="_blank">Visit Portfolio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
