<nav class="l-navigation js-navigation">
    <div class="l-navigation__links">
        <a class="l-navigation__link l-navigation__link--home" href="/">Blog</a>

        <ul class="l-navigation__list">
            <li class="l-navigation__item">
                <a class="l-navigation__link" href="/categories">Categories</a>
            </li>

            <li class="l-navigation__item">
                <a class="l-navigation__link" href="/tags">Tags</a>
            </li>
        </ul>
    </div>
</nav>
