////
/// All colours to be used in the site.
/// @group Colours
/// @type Color
////


// Primary colours

/// Primary Color
$primary-color: #252830;

/// Primary Grey 2
$primary-grey: #f5f5f5;

/// Primary White
$primary-white: #ffffff;

/// Primary Blue
$primary-blue: #1997c6;



// Text colours

/// Text
$text-color: #444;



// Other colours

/// White
$white: #ffffff;

/// Black
$black: #000000;

/// HTML5
$html5: #EF642B;

/// CSS3
$css3: #2299F8;

/// Sass
$sass: #CD669A;

/// JavaScript
$js: #F7DF1F;