.c-breadcrumbs {
  &__links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    max-width: $global-width;
    margin: 0 auto 40px;
  }

  &__link {
    $element: &;

    margin-bottom: 10px;

    &:not(#{$element}--active-page) {
      &::after {
        content: '/';
        margin: 0 10px;
      }
    }
  }
}