.c-pod {
    $block: &;

    height: 100%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);

    &__image {
        height: 300px;
        width: 100%;
        background: center/cover no-repeat $primary-grey;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: calc(100% - 300px);
        padding: 15px;
        text-align: center;
    }

    &__button-holder {
        margin-top: auto;
    }
}