{% macro postPod(post) %}
  <div class="c-post">
    <div class="c-post__image" style="background-image: url({{ post.file }})"></div>

    <div class="c-post__content">
      <a class="c-post__category" href="/categories/{{ post.category }}.html">{{ data.categories[post.category] }}</a>

      <h6 class="c-post__title">{{ post.title }}</h6>
      <p class="c-post__intro">{{ post.intro }}</p>

      <div class="c-post__button-holder">
        {% if post.tags.length %}
          <p class="fw-600">
            Tags:
            <span class="fs-italic">
              {% for tag in post.tags %}
                <a href="/tags/{{ data.tags[tag] | lower }}.html">{{ data.tags[tag] | lower }}</a>
              {% endfor %}
            </span>
          </p>
        {% endif %}

        <a class="c-button c-post__button" href="/posts/{{ post.file }}">Go to post</a>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro mostRecentPostPod(post) %}
  <div class="c-recent-post">
    <div class="c-recent-post__image" style="background-image: url({{ post.file }})"></div>
    <div class="c-recent-post__content">
      <h3 class="c-recent-post__title">{{ post.title }}</h3>
      <h5 class="c-recent-post__subtitle">
        <span class="ws-no-wrap">20/12/2020 |
          <a href="/categories/{{ post.category }}.html">{{ data.categories[post.category] }}</a>
        </h5>

        <p class="c-recent-post__intro">
          {{ post.intro }}
        </p>

        {% if post.tags.length %}
          <p class="fw-600">
            Tags:
            <span class="fs-italic">
              {% for tag in post.tags %}
                  <a href="/search?tags={{ data.tags[tag] }}">{{ data.tags[tag] | lower }}</a>
              {% endfor %}
            </span>
          </p>
        {% endif %}

        <a class="c-button" href="/posts/{{ post.file }}">Go to post</a>
      </div>
    </div>
  </div>
{% endmacro %}