.c-subscribe-newsletter {
    text-align: center;

    h2 {
        margin: 0;
    }   

    p {
        margin: 10px 0 30px 0;
    }

    .c-input {
        max-width: 400px;
        margin: 0 auto 30px;
    }
}

.c-unsubscribe-newsletter {
    text-align: center;

    .c-input {
        max-width: 400px;
        margin: 0 auto 30px;
    }
}