{% extends "base.njk" %}

{% block metaTitle %}Tags | Liam Snowdon's Blog{% endblock %}
{% block metaDescription %}Posts are given tags to make it easy to find posts about a particular area.{% endblock %}

{% block metaOgTitle %}Tags | Browse the post tags{% endblock %}
{% block metaOgDescription %}Posts are given tags to make it easy to find posts about a particular area.{% endblock %}
{% block metaOgUrl %}/tags{% endblock %}

{% import "macros/asset-loader.njk" as assetLoader %}

{% block content %}
  <header class="l-header">
    <div class="l-header__content">
      <h1 class="l-header__heading load-hidden js-hero-text">Tags</h1>
    </div>
  </header>

  <main>
    {% include "partials/sticky-navigation.njk" %}

    <div class="l-wrapper">
      <div class="l-content">
        <nav class="c-breadcrumbs">
          <ul class="c-breadcrumbs__links">
            <li class="c-breadcrumbs__link">
              <a href="/">Home</a>
            </li>

            <li class="c-breadcrumbs__link c-breadcrumbs__link--active-page">
              Tags
            </li>
          </ul>
        </nav>

        <div class="l-grid">
          <div class="l-grid__row l-grid__row--column-margins">
            {% for tag in data.tags %}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-4">
                <div class="c-pod js-pod">
                  <div class="c-pod__image-cont">
                    <img src="{{ assetLoader.image(tag.imageUrl) }}" class="c-pod__image" alt="{{ tag.name }}" />
                  </div>
                  <div class="c-pod__content">
                    <h5 class="c-pod__title">{{ tag.name }}</h4>
                    <p class="c-pod__intro">
                      {{ tag.intro }}
                    </p>
                    
                    <div class="c-pod__button-holder">
                      <a class="c-button" href="/tags/{{ tag.file }}">Explore</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}