.l-navigation {
    $nav-height: 60px;

    position: relative;
    left: 0;
    right: 0;
    @include z-index(navigation);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $nav-height;
    padding: 0 1rem;
    background-color: #212529;
    font-family: $header-font-family;

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__links {
        display: flex;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        color: $primary-white;

        &:hover {
            text-decoration: underline;
        }

        &--home {
            font-size: 1.5rem;
            line-height: 1;
            padding-right: 1rem;
            margin-right: 1rem;
            border-right: 1px solid white;
        }
    }
}

.l-sticky-nav {
    position: sticky;
    top: 0;
    height: 60px;
    @include z-index(stickyNavigation);
    display: flex;
    justify-content: center;
    background-color: #212529;
    font-family: $header-font-family;

    &__list {
        display: flex;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {
        $element: &;

        text-decoration: none;
        color: $primary-white;

        .fab {
            margin-right: 0.3rem;

            @include breakpoint('medium', 'down') {
                font-size: 2.5rem;
            }
        }

        &:hover {
            #{$element}-text {
                text-decoration: underline;
            }
        }

        &-text {
            @include breakpoint('medium', 'down') {
                display: none;
            };
        }

        .fa-html5 {
            color: $html5;
        }

        .fa-css3-alt {
            color: $css3;
        }

        .fa-sass {
            color: $sass;
        }

        .fa-js {
            color: $js;
        }
    }
}