{% extends "base.njk" %}

{% block metaTitle %}Categories | Liam Snowdon's Blog{% endblock %}
{% block metaDescription %}If you're looking for a particular category to read about, you can choose them here.{% endblock %}

{% block metaOgTitle %}Categories | Browse the post categories{% endblock %}
{% block metaOgDescription %}If you're looking for a particular category to read about, you can choose them here.{% endblock %}
{% block metaOgUrl %}/categories.html{% endblock %}

{% import 'macros/categories-page.njk' as categoriesPage %}

{% block content %}
  <header class="l-header">
    <div class="l-header__content">
      <h1 class="l-header__heading load-hidden js-hero-text">Categories</h1>
    </div>
  </header>

  <main>
    {% include "partials/sticky-navigation.njk" %}

    <div class="l-wrapper">
      <div class="l-content">
        <div class="l-grid">
          <div class="l-grid__row l-grid__row--column-margins">
            {% for category in data.categories %}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6">
                {{ categoriesPage.pod(category) }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}