{% extends "base.njk" %}

{% block content %}
  {% import "macros/post-pods.njk" as pods %}

  <div class="homepage-hero">
    <div class="homepage-hero__swiper-cont">
      <div class="homepage-hero__swiper swiper-container js-homepage-swiper">
        <div class="swiper-wrapper">
          {% for post in data.posts | sort(true, true, 'datePosted') | limitTo(5) %}
            <div class="homepage-hero__slide swiper-slide">
              <picture class="homepage-hero__slide-image">
                <source 
                  srcset="{{ assetLoader.image(post.headerImageUrl) }}"
                  media="(min-width: 768px)"
                >
                <img src="{{ assetLoader.image(post.thumbnailImageUrl) }}" alt="{{ post.title }}" />
              </picture>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="homepage-hero__content-outer">
      <div class="homepage-hero__content">
        <h1 class="homepage-hero__title load-hidden js-hero-text">
          Welcome to my blog!
        </h1>
        <h5 class="homepage-hero__subtitle load-hidden js-hero-text">
          A place for fancy, cool front end tips and tricks!
        </h5>
        <p class="homepage-hero__paragraph load-hidden js-hero-text">
          My name is Liam Snowdon. I'm a front end developer and this is my blog where I will post about all things HTML, CSS and JavaScript. My posts are categorised and tagged with keywords to make it easy to find exactly what you're looking for.
        </p>
      </div>
    </div>
  </div>

  <main>
    {% include "partials/sticky-navigation.njk" %}

    <div class="l-wrapper">
      <div class="l-content">
        <div class="l-content__title">
          <h2>Most recent</h2>
        </div>

        {% for post in data.posts | sort(true, true, 'datePosted') | limitTo(1) %}
          {{ pods.mostRecentPostPod(post) }}
        {% endfor %}
      </div>
    </div>

    <div class="l-wrapper l-wrapper--grey-2">
      <div class="l-content">
        <div class="l-content__title">
          <h2>Most recent by category</h2>
        </div>

        <div class="l-grid">
          <div class="l-grid__row l-grid__row--column-margins">
            {% for post in data.posts | categoryPosts(1) | sort(true, true, 'datePosted') | limitTo(1) %}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column--large-4">
                {{ pods.postPod(post) }}
              </div>
            {% endfor %}

            {% for post in data.posts | categoryPosts(2) | sort(true, true, 'datePosted') | limitTo(1) %}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column--large-4">
                {{ pods.postPod(post) }}
              </div>
            {% endfor %}

            {% for post in data.posts | categoryPosts(3) | sort(true, true, 'datePosted') | limitTo(1) %}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column--large-4">
                {{ pods.postPod(post) }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="l-wrapper">
      <div class="l-content">
        <div class="l-content__title">
          <h2>All posts</h2>
        </div>

        <div class="l-grid">
          <div class="l-grid__row l-grid__row--column-margins">
            {% for post in data.posts | sort(true, true, 'datePosted') %}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column--large-3">
                {{ pods.postPod(post) }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
