{% macro script(path) %}{{ path }}{{ data.cacheBustVersion }}{% endmacro %}

{% macro link(path) %}{{ path }}{{ data.cacheBustVersion }}{% endmacro %}

{% macro image(path) %}{{ data.env.cdnHost }}{{ path }}{% endmacro %}