{% macro script(path) %}<script src="{{ path }}{{ data.cacheBustVersion }}"></script>{% endmacro %}

{% macro link(path) %}<link rel="stylesheet" href="{{ path }}{{ data.cacheBustVersion }}">{% endmacro %}