{% import "macros/asset-loader.njk" as assetLoader %}

{% macro pod(category) %}
  <div class="c-pod load-hidden js-pod">
    <div class="c-pod__image-cont">
      <img src="{{ assetLoader.image(category.imageUrl) }}" class="c-pod__image" alt="{{ category.name }}" />
    </div>
    <div class="c-pod__content">
      <h5 class="c-pod__title">{{ category.name }}</h4>
      <p class="c-pod__intro">
        {{ category.intro }}
      </p>
      
      <div class="c-pod__button-holder">
        <a class="c-button" href="/categories/{{ category.file }}">Explore</a>
      </div>
    </div>
  </div>
{% endmacro %}
