{% import "macros/asset-loader.njk" as assetLoader %}

{% macro postPod(post) %}
  {% set category = data.categories | getById(post.category) %}

  <div class="c-post js-pod load-hidden">
    <a
      class="c-post__image-cont" 
      href="/posts/{{ post.file }}"
    >
      <img src="{{ assetLoader.image(post.thumbnailImageUrl) }}" class="c-post__image" alt="{{ post.title }}" />
    </a>
  
    <div class="c-post__content">
      <span class="ws-no-wrap d-block mb-10 fw-700">{{ post.datePosted | shortDate }} |
        <a class="c-post__category" href="/categories/{{ category.file }}">{{ category.name }}</a>
      </span>

      <h6 class="c-post__title">{{ post.title }}</h6>
      <p class="c-post__intro">{{ post.intro }}</p>

      <div class="c-post__button-holder">
        {% if post.tags.length %}
          <p class="fw-600">
            Tags:
            <span class="fs-italic">
              {% for tagId in post.tags %}
                {% set tag = data.tags | getById(tagId) %}

                <a href="/tags/{{ tag.file }}">{{ tag.name | lower }}</a>
              {% endfor %}
            </span>
          </p>
        {% endif %}

        <a class="c-button c-post__button" href="/posts/{{ post.file }}">Go to post</a>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro mostRecentPostPod(post) %}
  {% set category = data.categories | getById(post.category) %}

  <div class="c-recent-post js-pod load-hidden">
    <a 
      class="c-recent-post__image-cont"
      href="/posts/{{ post.file }}"
    >
      <img src="{{ assetLoader.image(post.thumbnailImageUrl) }}" class="c-recent-post__image" alt="{{ post.title }}" />
    </a>
    <div class="c-recent-post__content">
      <h3 class="c-recent-post__title">{{ post.title }}</h3>
      <h5 class="c-recent-post__subtitle">
        <span class="ws-no-wrap">{{ post.datePosted | shortDate }} |
          <a href="/categories/{{ category.file }}">{{ category.name }}</a>
        </span>
      </h5>

      <p class="c-recent-post__intro">
        {{ post.intro }}
      </p>

      {% if post.tags.length %}
        <p class="fw-600">
          Tags:
          <span class="fs-italic">
            {% for tagId in post.tags %}
              {% set tag = data.tags | getById(tagId) %}

              <a href="/tags/{{ tag.file }}">{{ tag.name | lower }}</a>
            {% endfor %}
          </span>
        </p>
      {% endif %}

      <a class="c-button" href="/posts/{{ post.file }}">Go to post</a>
    </div>
  </div>
{% endmacro %}