{% import 'macros/post-pods.njk' as pods %}

{% macro header(tag) %}
  <header class="l-header">
    <div class="l-header__content">
      <h1 class="l-header__heading load-hidden js-hero-text">'{{ tag.name }}' Posts</h1>
      <p class="load-hidden js-hero-text">{{ tag.intro }}</p>
    </div>
  </header>
{% endmacro %}

{% macro content(tag) %}
  <div class="l-wrapper">
    <nav class="c-breadcrumbs">
      <ul class="c-breadcrumbs__links">
        <li class="c-breadcrumbs__link">
          <a href="/">Home</a>
        </li>

        <li class="c-breadcrumbs__link">
          <a href="/tags.html">Tags</a>
        </li>

        <li class="c-breadcrumbs__link c-breadcrumbs__link--active-page">
          {{ tag.name }}
        </li>
      </ul>
    </nav>

    <div class="l-content">
      <div class="l-grid">
        <div class="l-grid__row l-grid__row--column-margins">
          {% for post in data.posts %}
            {% if post.tags|includes(tag.id) %}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column--large-3">
                {{ pods.postPod(post) }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro pod(tag) %}
  <div class="c-pod js-pod">
    <div class="c-pod__image c-pod__image--{{ tag.name | lower }}"></div>
    <div class="c-pod__content">
      <h5 class="c-pod__title">{{ tag.name }}</h4>
      <p class="c-pod__intro">
        {{ tag.intro }}
      </p>
      
      <div class="c-pod__button-holder">
        <a class="c-button" href="/tags/{{ tag.file }}">Explore</a>
      </div>
    </div>
  </div>
{% endmacro %}
