#post {
    padding: 25px 40px 40px;
}

.post-hero {
    position: relative;
    padding: 30px 25px;
    border-bottom: 1px solid $primary-color;
    background-color: $primary-color;
    color: $primary-white;

    &__background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: center/cover no-repeat transparent;
        opacity: 0.1;
    }

    @include breakpoint('medium') {
        padding: 80px 40px;
    }

    &__content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: -25px;
        margin-right: -25px;
    }

    &__left {
        margin-bottom: 30px;
        padding-left: 25px;
        padding-right: 25px;

        @include breakpoint('medium') {
            margin: 0;
            flex: 0 0 65%;
        }
    }

    &__right {
        padding-left: 25px;
        padding-right: 25px;

        @include breakpoint('medium') {
            flex: 0 0 35%;
        }

        h5 {
            font-weight: 500;

            &:last-child {
                margin: 0;
            }
        }

        a:not(:last-child)::after {
            content: ',';
        }
    }
}

.post {
    display: flex;
    margin-left: -25px;
    margin-right: -25px;

    @include breakpoint('medium', 'down') {
        flex-wrap: wrap;
    }

    &__article,
    &__sidebar {
        padding: 0 20px;
        flex: 0 0 100%;
        max-width: 100%;
    }

    &__article {
        margin-bottom: 40px;
        min-width: 0;

        @include breakpoint('medium') {
            margin: 0;
            flex: 1 0 0;
        }
    }

    &__sidebar {
        position: sticky;
        align-self: flex-start;
        top: 85px;

        @include breakpoint('medium') {
            flex: 0 1 400px;
            max-width: 45%;
        }
    }
}

.sidebar-pod {
    border: 1px solid $primary-color;
    border-radius: 10px;
    overflow: hidden;

    &:not(:last-child) {
        margin-bottom: 25px;
    }

    &__header {
        padding: 10px;
        background-color: $primary-color;
        color: $primary-white;
        text-align: center;

        h4 {
            margin: 0;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: $primary-white;
        color: $text-color;
        text-decoration: none;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }

        &:nth-child(even) {
            background-color: $primary-grey;
        }

        &.is-empty {
            justify-content: center;
            text-decoration: none;
        }
    }

    &__title {
        flex: 1 0 auto;
        width: 0px;
        padding-right: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    &__date {
        flex: 0 1 auto;
    }
}

.ciu_embed {
    margin: 20px 0 -20px;
}