{% extends "layout.njk" %}

{% block metaTitle %}Post Creator{% endblock %}
{% block metaRobots %}noindex, nofollow{% endblock %}

{% block content %}
  <header class="l-header">
    <div class="l-header__content">
      <h1 class="l-header__heading">Post Creator</h1>
      <p>
        Use this tool to create blog posts. After filling out all fields, hit the "Copy to JSON" button to copy the 
        post data to the clipboard and add it to the posts.json file for nunjucks.

        Alternatively, edit a blog post by providing the JSON from data.json, hitting "Load post data" and the form will be
        prefilled with its data.
      </p>
    </div>
  </header>

  <main>
    <div class="l-wrapper">
      <div class="l-content">
        <h2>Edit a post</h2>
          
        <div class="l-grid">
          <form class="js-post-editor-form">
            <div class="l-grid__row">            
              <div class="l-grid__column l-grid__column--12">
                <div class="c-input">
                  <input 
                    id="id"
                    class="c-input__input js-json"
                    placeholder="JSON"
                    type="text"
                    name="json"
                    required
                  />

                  <label class="c-input__label" for="json">JSON</label>
                </div>
              </div>
            </div>

            <div class="d-flex justify-end mt-20 mb-20">
              <button class="c-button">Load post data</button>
            </div>
          </form>
        </div>
        
        <hr>

        <div class="l-grid">
          <form class="js-post-creator-form">
            <h3>General</h3>

            <div class="l-grid__row l-grid__row--column-margins">            
              {# ID #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column-large-4">
                <div class="c-input">
                  <input 
                    id="id"
                    class="c-input__input js-id"
                    placeholder="ID"
                    type="number"
                    name="id"
                    required
                  />

                  <label class="c-input__label" for="id">ID</label>
                </div>
              </div>

              {# HTML File #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column-large-4">
                <div class="c-input">
                  <input 
                    id="file"
                    class="c-input__input js-file"
                    placeholder="HTML File"
                    type="text"
                    name="file"
                    required
                  />

                  <label class="c-input__label" for="file">HTML File</label>
                </div>
              </div>

              {# Image URL #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column-large-4">
                <div class="c-input">
                  <input 
                    id="image-url"
                    class="c-input__input js-image-url"
                    placeholder="Image URL"
                    type="text"
                    name="image-url"
                    required
                  />

                  <label class="c-input__label" for="image-url">Image URL</label>
                </div>
              </div>

              {# Author #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column-large-4">
                <div class="c-input">
                  <input 
                    id="author"
                    class="c-input__input js-author"
                    placeholder="Author"
                    type="text"
                    name="author"
                    required
                  />

                  <label class="c-input__label" for="author">Author</label>
                </div>
              </div>

              {# Related Posts #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column-large-4">
                <select 
                  id="related-posts"
                  name="related-posts"
                  multiple 
                  class="js-related-posts"
                ></select>
              </div>
            </div>
            
            <h3>Header</h3>

            <div class="l-grid__row l-grid__row--column-margins">
              {# Title #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6">
                <div class="c-input">
                  <input 
                    id="title"
                    class="c-input__input js-title"
                    placeholder="Title"
                    type="text"
                    name="title"
                    required
                  />

                  <label class="c-input__label" for="title">Title</label>
                </div>
              </div>

              {# Intro #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6">
                <div class="c-input">
                  <input 
                    id="intro"
                    class="c-input__input js-intro"
                    placeholder="Intro"
                    type="text"
                    name="intro"
                    required
                  />

                  <label class="c-input__label" for="intro">Intro</label>
                </div>
              </div>
            </div>

            <div class="l-grid__row l-grid__row--column-margins">
              {# Date Posted #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column-large-4">
                <div class="c-input">
                  <input 
                    id="datePosted"
                    class="c-input__input js-date-posted"
                    placeholder="Date Posted"
                    type="text"
                    name="datePosted"
                    autocomplete="off"
                    required
                  />

                  <label class="c-input__label" for="datePosted">Date Posted</label>
                </div>
              </div>

              {# Category #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column-large-4">
                <select 
                  id="category"
                  name="category"
                  class="js-category"
                  required
                >
                  <option value="" placeholder>Please select a category</option>
                </select>
              </div>

              {# Tags #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column-large-4">
                <select 
                  id="tags"
                  name="tags"
                  multiple 
                  class="js-tags"
                ></select>
              </div>
            </div>

            <h3>Content</h3>

            <textarea name="content" id="content" rows="5" class="js-content"></textarea>

            <div class="d-flex justify-end mt-20">
              <button class="c-button">Copy to JSON</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block additionalJS %}
  <script src="/assets/third-party/choices/scripts/choices.min.js"></script>
  <script src="/assets/third-party/tinymce/js/tinymce/tinymce.min.js"></script>
  <script src="/assets/third-party/pikaday/pikaday.js"></script>
  <script src="/assets/js/post-creator.js"></script>

  <script type="text/javascript">
    (function () {
      var tags = [
        {% for tag in data.tags %}'{{ tag.name }}',{% endfor %}
      ];

      var categories = [
        {% for category in data.categories %}'{{ category.name }}',{% endfor %}
      ];

      var posts = [
        {% for post in data.posts %}'{{ post.title }}',{% endfor %}
      ];

      var njkData = {
        tags: tags,
        categories: categories,
        posts: posts,
        newPostId: {{ data.posts | length + 1 }}
      };

      window.Blog.PostCreator.initialise(njkData);
    })();
  </script>
{% endblock %}