{% extends "layout.njk" %}

{% block metaTitle %}Tag Creator{% endblock %}
{% block metaRobots %}noindex, nofollow{% endblock %}

{% block content %}
  <header class="l-header">
    <div class="l-header__content">
      <h1 class="l-header__heading">Tag Creator</h1>
      <p>
        Use this tool to create tags for blog posts. After filling out all fields, hit the "Copy to JSON" button to copy the 
        post data to the clipboard and add it to the data.json file for nunjucks.
      </p>
    </div>
  </header>

  <main>
    <div class="l-wrapper">
      <div class="l-content">
        <div class="l-grid">
          <form class="js-post-creator-form">
            <h3>General</h3>

            <div class="l-grid__row l-grid__row--column-margins">            
              {# ID #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column-large-4">
                <div class="c-input">
                  <input 
                    id="id"
                    class="c-input__input js-id"
                    placeholder="ID"
                    type="number"
                    name="id"
                    required
                  />

                  <label class="c-input__label" for="id">ID</label>
                </div>
              </div>
            </div>

            <div class="l-grid__row l-grid__row--column-margins">
              {# HTML File #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column-large-4">
                <div class="c-input">
                  <input 
                    id="file"
                    class="c-input__input js-file"
                    placeholder="HTML File"
                    type="text"
                    name="file"
                    required
                  />

                  <label class="c-input__label" for="file">HTML File</label>
                </div>
              </div>

              {# Image URL #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6 l-grid__column-large-4">
                <div class="c-input">
                  <input 
                    id="image-url"
                    class="c-input__input js-image-url"
                    placeholder="Image URL"
                    type="text"
                    name="image-url"
                    required
                  />

                  <label class="c-input__label" for="image-url">Image URL</label>
                </div>
              </div>
            </div>

            <div class="l-grid__row l-grid__row--column-margins">
              {# Name #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6">
                <div class="c-input">
                  <input 
                    id="name"
                    class="c-input__input js-name"
                    placeholder="Name"
                    type="text"
                    name="name"
                    required
                  />

                  <label class="c-input__label" for="name">Name</label>
                </div>
              </div>

              {# Intro #}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-6">
                <div class="c-input">
                  <input 
                    id="intro"
                    class="c-input__input js-intro"
                    placeholder="Intro"
                    type="text"
                    name="intro"
                    required
                  />

                  <label class="c-input__label" for="intro">Intro</label>
                </div>
              </div>
            </div>

            <div class="d-flex justify-end mt-20">
              <button class="c-button">Copy to JSON</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block additionalJS %}
  <script src="/assets/js/tag-creator.js"></script>

  <script type="text/javascript">
    (function () {
      var njkData = {
        newTagId: {{ data.tags | length + 1 }}
      };

      window.Blog.TagCreator.initialise(njkData);
    })();
  </script>
{% endblock %}