{% extends "layout.njk" %}

{% import 'macros/tags-page.njk' as tagsPage %}

{% block content %}
  <header class="l-header">
    <div class="l-header__content">
      <h1 class="l-header__heading">Tags</h1>
    </div>
  </header>

  <main>
    {% include "partials/sticky-navigation.njk" %}

    <div class="l-wrapper">
      <div class="l-content">
        <div class="l-grid">
          <div class="l-grid__row l-grid__row--column-margins">
            {% for tag in data.tags %}
              <div class="l-grid__column l-grid__column--12 l-grid__column--medium-4">
                {{ tagsPage.pod(tag) }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}