<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include "partials/navigation.njk" %}

    {% block content %} {% endblock %}

    {% include "partials/footer.njk" %}

    <!--<script src="/assets/js/main.js"></script>-->
  </body>
</html>