<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include "partials/navigation.njk" %}

    {% block content %} {% endblock %}

    {% include "partials/footer.njk" %}

    <script src="/assets/third-party/choices/scripts/choices.min.js"></script>
    <script src="/assets/third-party/tinymce/js/tinymce/tinymce.min.js"></script>

    {% block additionalJS %} {% endblock %}
  </body>
</html>