{% extends "layout.njk" %}

{% import 'macros/tags-page.njk' as tagsPage %}

{% set tag = data.tags | getById(7) %}

{% block content %}
  {{ tagsPage.header(tag) }}

  <main>
    {% include "partials/sticky-navigation.njk" %}

    {{ tagsPage.content(tag) }}
  </main>
{% endblock %}
